@import "../../styles/scss/helpers/helpers";

.checkoutProduct {
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 3rem;
    margin-bottom: 1rem;

    @include breakpoint-down(medium) {
        flex-direction: column;
        padding: 1rem;
    }

    &-img {
        width: 230px;
    }

    &-info {
        padding-left: 3rem;

        @include breakpoint-down(medium) {
            padding-left: 1rem;
        }

        p {
            font-size: 16px;

            &:not(:last-child) {
                margin-bottom: 0.8rem;
            }
        }

        &__title {
            font-weight: bold;
            font-size: 1.3rem !important;
        }

        &__category {
            color: $primary-clr;
        }

        &__price {
            font-weight: bold;
            color: #222;
        }

        .remove-btn {
            border: none;
            outline: none;
            display: inline-block;
            padding: 0.8rem;
            background-color: $primary-clr;
            color: $white;
            cursor: pointer;
        }
    }
}
