@import "../../styles/scss/helpers/helpers";

%flex {
    display: flex;
    align-items: center;
}

.nav {
    @extend %flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 0 1rem;
    position: relative;

    &-left {
        @extend %flex;

        &-sidebar {
            &__toggleIcon {
                font-size: 1.2rem;
                cursor: pointer;
            }

            &__content {
                position: fixed;
                top: 0;
                left: 0;
                height: 100vh;
                width: 30%;
                z-index: 500;
                background-color: #fff;
                padding-top: 4rem;
                margin-bottom: 4rem;
                overflow-y: auto;
                transform: translate(-100%);
                transition: transform 400ms ease;

                @include breakpoint-down(medium) {
                    width: 80%;
                }

                .close {
                    position: absolute;
                    top: 0;
                    right: 0;
                    padding: 1rem;
                    cursor: pointer;

                    &-icon {
                        font-size: 1.7rem;
                    }
                }

                .user {
                    background-color: #f4f4f4;
                    text-align: center;
                    padding: 1rem;
                    margin: 0 2rem;

                    &-img {
                        font-size: 2.7rem;
                        margin-bottom: 0.3rem;
                    }
                }

                h3 {
                    margin: 1.5rem 2rem;
                    text-transform: capitalize;
                    font-size: 1.1rem;
                    color: #111;
                }

                li {
                    cursor: pointer;
                }

                .categories {
                    ul {
                        li {
                            border-bottom: 1px solid #ccc;
                            padding: 1rem 2rem;
                            text-transform: capitalize;

                            &:hover {
                                background-color: #eef3ff;
                            }
                        }
                    }
                }

                .h-s {
                    ul {
                        li {
                            padding: 1rem 2rem;
                            text-transform: capitalize;

                            &:hover {
                                background-color: #eef3ff;
                            }
                        }

                        #lang {
                            display: flex;
                            align-items: center;

                            span {
                                margin: 0 0.5rem;
                            }
                        }

                        #co {
                            display: flex;
                            align-items: center;

                            img {
                                width: 24px;
                                margin-right: 0.5rem;
                            }
                        }
                    }
                }
            }

            .overlay {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100vh;
                background: rgba($color: #000000, $alpha: 0.6);
                z-index: 100;
                opacity: 0;
                visibility: hidden;
                pointer-events: none;
                transition: all 400ms ease-in-out;
            }

            &.active {
                .nav-left-sidebar__content {
                    transform: translate(0%);
                }

                .overlay {
                    opacity: 1;
                    visibility: visible;
                    pointer-events: initial;
                }
            }
        }

        &-logo {
            max-width: 80px;
            margin: 0 1rem;
        }
    }

    &-search {
        @extend %flex;
        flex: 1;
        border: 1px solid #b6b6b6;
        border-radius: 5px;
        overflow: hidden;

        @include breakpoint-down(medium) {
            position: absolute;
            top: 100%;
            width: 100%;
            right: 0;
            padding: 0.5rem;
            border: none;
            border-radius: 0;

            background-color: rgba($color: #000000, $alpha: 0.3);
        }

        &__input {
            flex: 1;
            padding: 0.5rem;
            font-family: "Roboto", sans-serif;
            border: 0;
            outline: 0;

            @include breakpoint-down(medium) {
                padding: 0.95rem;
            }
        }

        &__category {
            @extend %flex;
            border-right: 1px solid #b6b6b6;
            padding: 0.6rem;
            text-transform: capitalize;

            @include breakpoint-down(medium) {
                padding: 1rem 0.6rem;
                border-right: 0;
            }

            .icon {
                margin-left: 0.3rem;
            }
        }

        &__icon {
            background-color: $primary-clr;
            color: $white;
            padding: 0.6rem 1rem;

            @include breakpoint-down(medium) {
                padding: 0.9rem 1rem;
            }
        }
    }

    &-cta {
        &__links {
            @extend %flex;

            .link {
                color: #333;
            }

            &-item {
                flex-direction: column;
                position: relative;

                div {
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                }

                ul {
                    background-color: #fff;
                    border-radius: 5px;
                    position: absolute;
                    top: 100%;
                    margin-top: 0.5rem;
                    padding: 1rem 0.7rem;
                    box-shadow: 10px 0px 10px -5px rgba(0, 0, 0, 0.2);
                    -webkit-box-shadow: 10px 0px 10px -5px rgba(0, 0, 0, 0.2);
                    -moz-box-shadow: 10px 0px 10px -5px rgba(0, 0, 0, 0.2);
                    display: none;

                    > li {
                        margin-left: 0;

                        &:first-child {
                            margin-right: 0;
                        }
                    }

                    > li:not(:first-child) {
                        margin-top: 0.5rem;
                    }
                }

                &.open {
                    div {
                        .dd-icon {
                            transform: rotate(180deg);
                        }
                    }

                    ul {
                        display: block !important;
                    }
                }
            }

            li {
                @extend %flex;
                margin-left: 1rem;

                .icon {
                    font-size: 1.5rem;
                }

                span {
                    margin: 0 0.2rem;
                    text-transform: capitalize;
                }

                &.shopIcon {
                    span {
                        background: red;
                        color: #fff;
                        padding: 0.2rem;
                        border-radius: 3px;
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }
}
